[submodule "turbin3-prereq-rs"]
	path = turbin3-prereq-rs
	url = https://github.com/xentoshi/turbin3-prereq-rs
[submodule "turbin3-prereq-ts"]
	path = turbin3-prereq-ts
	url = https://github.com/xentoshi/turbin3-prereq-ts
[submodule "marketplace"]
	path = marketplace
	url = https://github.com/xentoshi/marketplace.git
[submodule "prediction-market"]
	path = prediction-market
	url = https://github.com/xentoshi/prediction-market.git
[submodule "randomness"]
	path = randomness
	url = https://github.com/xentoshi/randomness.git
